body {
    color: rgb(5, 22, 255);
    background: rgb(241, 5, 5);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}
header {
    border-bottom: solid 2px rgb(91, 69, 237);
    padding: 20px;
    font-size: 32px;
    color: rgb(10, 31, 185);
}
section {
    background: rgb(55, 0, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div {
    margin-right: 20px;
}
.chamada-texto {
    margin-right: 20px;
}
/* código omitido */

section {
    background: rgb(0, 30, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }
  .categoria-videos {
    display: flex;
  }
  .categoria-videos
  section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  /* código omitido */
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  /* código omitido */

.categoria {
  padding-left: 20px;
  padding-right: 20px;
}
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img {
    opacity: 0.5;
    height: 200px
}
.categoria-videos img:hover {
    opacity: 1.0;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}
body {
  color: white;
  background: black;
  margin: 0px;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 100px;
}